.profile-page-con {
	.page-content-wrap {
		.badges-block-con {
			width: 100%;
			padding: 0 16px;

			.block-title {
				margin-bottom: 8px;
				color: #848097;
				font-family: "Inter Tight", sans-serif;
				font-size: 12px;
				font-weight: 500;
				line-height: 125%;
				letter-spacing: 1px;
				text-transform: uppercase;
				padding-left: 15px;
			}

			.badges-con {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				padding: 16px 16px 6px;
				border-radius: 16px;
				border: 1px solid rgba(255, 255, 255, 0.15);
				background: radial-gradient(115.35% 89.57% at 50% 4.49%, rgba(49, 36, 59, 0.25) 0%, rgba(27, 26, 29, 0.25) 100%);
				box-shadow:
					0 1px 1px 0 rgba(199, 211, 234, 0.12) inset,
					0 24px 48px 0 rgba(199, 211, 234, 0.05) inset;
				backdrop-filter: blur(6px);

				.badge-img-con {
					margin-right: 5px;
					margin-bottom: 10px;
					width: 64px;
					min-width: 64px;
				}

				.row-aligner {
					height: 0;
					width: 64px;
					margin-right: 5px;
				}
			}
		}
	}
}
