.profile-page-con,
.user-profile-page-con {
	.page-content-wrap {
		.copy-input-con {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px 16px;
			border-radius: 12px;
			border: 1px solid rgba(255, 255, 255, 0.15);
			background: #1a0c2c;
			box-shadow: 0px 1px 1px 0px #c7d3ea1f inset;

			.main-copy-info-con {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				margin-right: 10px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				.descr {
					text-overflow: ellipsis;
					font-family: "Inter Tight", sans-serif;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 125%;
					opacity: 0.5;
					margin-bottom: 3px;
				}

				.copy-value {
					flex-grow: 1;
					overflow: hidden;
					text-overflow: ellipsis;
					font-family: "Inter Tight", sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
				}
			}

			.btn-copy {
				color: #848097;
				font-family: "Inter Tight", sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				cursor: pointer;

				&.copied {
					cursor: auto;
					color: #fff;
				}
			}
		}
	}
}
