.profile-page-con {
	.page-content-wrap {
		.info-block-wrapper {
			.input-con {
				position: relative;
				width: 100%;
				margin-bottom: 6px;

				.input-item {
					width: 100%;
					padding: 12px 16px;
					border-radius: 12px;
					border: 1px solid rgba(255, 255, 255, 0.15);
					background: radial-gradient(115.35% 89.57% at 50% 4.49%, rgba(49, 36, 59, 0.25) 0%, rgba(27, 26, 29, 0.25) 100%);
					backdrop-filter: blur(6px);
					outline: none;
					color: white;
					font-family: "Inter Tight", sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
				}

				.edit-btn {
					position: absolute;
					right: 16px;
					top: 50%;
					transform: translateY(-50%);
					color: #848097;
					font-family: "Inter Tight", sans-serif;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					cursor: pointer;

					&.save {
						color: white;
					}
				}
			}
		}
	}
}
