/* stylelint-disable selector-class-pattern */

.Toastify__toast-container {
	pointer-events: none;

	.custom-toast {
		pointer-events: auto;
		background: none;

		.Toastify__toast-body {

			.custom-toast-content {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 16px;
				background: linear-gradient(197.29deg, rgba(111, 95, 253, 0.8) 50.87%, #6f5ffd 116.23%);
				border: 2px solid #6f5ffd;
				border-radius: 16px;

				&.error {
					background: linear-gradient(180deg, #713efd 0%, #4400b1 100%);
					border: 2px solid #6f5ffd;
				}

				.content-wrapper {
					display: flex;
					align-items: center;
					justify-content: center;
					padding-right: 20px;

					.title {
						margin-bottom: 8px;
						font-size: 20px;
						color: white;
					}

					.descr {
						font-size: 14px;
						color: white;
						opacity: 0.8;
					}
				}

				.undo {
					min-width: max-content;
					color: white;
					opacity: 0.8;
				}
			}
		}
	}
}
