.login-page-con {
	padding: 20px 0;
	overflow: auto;
	.login-content-con {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		.logo-con {
			margin-bottom: 32px;
		}
		.title {
			text-align: center;
			font-family: "Space Grotesk", sans-serif;
			font-style: normal;
			margin-bottom: 32px;
			font-size: 36px;
			font-weight: 500;
			line-height: 40px;
			margin-top: 10px;

			@media (min-width: 768px) {
				margin-top: 0;
				font-size: 64px;
				font-weight: 600;
				line-height: 115%;
			}
		}

		.btns-con {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			.btn-item {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 52px;
				width: 100%;
				border-radius: 31px;
				margin-bottom: 8px;
				cursor: pointer;
				transition: 0.2s;
				border: 1.5px solid #000;
				background: #fff;
				color: black;

				&.disabled {
					cursor: auto;
					pointer-events: none;
					opacity: 0.5;
				}
			}
			.btn-faq {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 52px;
				width: 100%;
				border-radius: 31px;
				border: 1px solid rgba(138, 136, 136, 0.7);
				opacity: 0.8;
				cursor: pointer;
				transition: 0.2s;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.login-faq-modal {
	.login-faq-con {
		position: relative;
		padding: 24px;
		border-radius: 24px;
		border: 1px solid rgba(255, 255, 255, 0.05);
		background: radial-gradient(115.35% 89.57% at 50% 4.49%, #31243b 0%, #1b1a1d 100%), linear-gradient(93deg, rgba(124, 67, 255, 0.2) 0%, rgba(124, 67, 255, 0.08) 94.97%), radial-gradient(114.77% 138.97% at 3.5% 0%, rgba(102, 82, 255, 0.16) 0%, rgba(102, 82, 255, 0) 100%), rgba(255, 255, 255, 0.06);

		.cross {
			position: absolute;
			top: 24px;
			right: 24px;
			width: 24px;
			height: 24px;
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 50%;
		}

		.title {
			font-family: "Inter Tight", sans-serif;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 24px;
			margin-bottom: 32px;
		}
		.descr {
			font-family: "Inter Tight", sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 32px;

			.strong {
				font-weight: 700;
			}

			.link {
				color: #7c43ff;
				font-weight: 700;
			}
		}
	}
}
